../admission-webhook-datree/.idea/*

../admission-webhook-datree/.vscode/*
!../admission-webhook-datree/.vscode/thunder-tests/thunderCollection.json
!../admission-webhook-datree/.vscode/thunder-tests/thunderclient.json

webhook-datree

.DS_STORE
