# Default values for datree-admission-webhook.

# The name of the namespace all resources will be created in, if not specified in the release.
namespace: ""

# The number of Datree webhook-server replicas to deploy for the webhook.
replicaCount: 2

# Additional labels to add to all resources.
customLabels: {}

# Additional annotations to add to all resources.
customAnnotations: {}

# Run the webhook-server in debug mode, this will log debug information to the console.
debug: false

# Create ClusterRoles, ClusterRoleBindings, and ServiceAccount for datree-webhook-server
rbac:
  serviceAccount:
    # Create the ServiceAccount
    create: true
    # The ServiceAccount name
    name: datree-webhook-server
  clusterRole:
    # Create the ClusterRole
    create: true
    # The ClusterRole name
    name: datree-webhook-server-read

# Datree webhook configuration, checkout more details at htttps://hub.datree.com
datree:
  # The token used to link the CLI to your dashboard.
  token: ""
  # The name of the policy to check, e.g: staging. (string, optional)
  policy: ""
  # Display 'How to Fix' link for failed rules in output. (boolean ,optional)
  verbose: ""
  # The format output of the policy check results: yaml, json, xml, simple, JUnit. (string ,optional)
  output: ""
  # Don’t send policy checks metadata to the backend. (boolean ,optional)
  noRecord: ""

# The Datree webhook-server image to use.
image:
  # Image repository
  repository: 709825985650.dkr.ecr.us-east-1.amazonaws.com/datree/datree-free-admission-webhook-awsmp
  # Image tag
  tag: 0.1.24-rc.1
  # Image pull policy
  pullPolicy: Always

# Security context for the containers
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 25000

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 1000m
    memory: 512Mi

# During install Datree run two hooks: pre-install and pre-delete.
# `datree-label-namespaces-hook-post-install` - Helm hook that run after the chart is installed and label namespaces with datree.io/skip=true
# `datree-wait-server-ready-hook-post-install` - Helm hook that run after the chart is awaits for the webhook-server to be ready
hooks:
  # The timeout time the hook will wait for the webhook-server is ready.
  timeoutTime:
  # The image for running kubectl commands
  image:
    repository: 709825985650.dkr.ecr.us-east-1.amazonaws.com/datree/bitnami-kubectl-datree-free
    sha: sha256:2c963c1aae87f544a53242348d64dce4bc39739211989394833322d29364b73c
    pullPolicy: IfNotPresent

# AWS Marketplace configuration
aws:
  # The name of the secret that contains the license configuration.
  licenseConfigSecretName: ""
  # The AWS Region
  region: "us-east-1"
  # Enable AWS Marketplace license checkout, this is relevant for paid products only.
  enableCheckEntitlement: true
  # The application’s Product SKU (Product ID)
  productId: "e3c1bf72-7c57-435e-be33-deddbe7220f2"
  # The trusted issuer of the license (AWS Marketplace)
  issuerKey: "aws:294406891311:AWS/Marketplace:issuer-fingerprint"
