apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-scan-job-service-account
  namespace: {{template "datree.namespace" .}}
  labels: {{ include "datree.labels" . | nindent 4 }}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}  
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-scan-job-role
  labels: {{ include "datree.labels" . | nindent 4 }}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - "get"
      - "list"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-scan-job-rolebinding
  labels: {{ include "datree.labels" . | nindent 4 }}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-scan-job-role
subjects:
  - kind: ServiceAccount
    name: cluster-scan-job-service-account
    namespace: {{template "datree.namespace" .}}
---
apiVersion: {{ include "datree.CronJob.apiVersion" . }}
kind: CronJob
metadata:
  name: scan-cronjob
  namespace: {{template "datree.namespace" .}}
  labels: {{ include "datree.labels" . | nindent 4 }}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  # get the current time, subtract 5 minutes, extract the minutes and inject it into the cron expression
  # if helm installation was done at 13:35, the cron expression will be 30 * * * *, which means the job will run at 14:30, 15:30, 16:30, etc.
  schedule: "{{ now | dateModify "-5m" | date "04" }} * * * *" # every hour, starting 55 minutes after helm installation
  jobTemplate: {{ include "datree.scanJob" . | nindent 4 }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: scan-job
  namespace: {{template "datree.namespace" .}}
{{ include "datree.scanJob" . }}
