{{- if .Values.rbac.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.Values.rbac.serviceAccount.name}}
  labels: {{ include "datree.labels" . | nindent 4 }}
  namespace: {{ template "datree.namespace" . }}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
{{- end}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: datree-label-namespaces-hook-post-install
  labels: {{include "datree.labels" . | nindent 4}}
  namespace: {{template "datree.namespace" .}}
  {{- with .Values.customAnnotations }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    {{ toYaml . | nindent 4 }}
    {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: datree-cleanup-namespaces-hook-pre-delete
  labels: {{include "datree.labels" . | nindent 4}}
  namespace: {{template "datree.namespace" .}}
  {{- with .Values.customAnnotations }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    {{ toYaml . | nindent 4 }}
    {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: datree-cleanup-ping-hook-pre-delete
  labels: {{include "datree.labels" . | nindent 4}}
  namespace: {{template "datree.namespace" .}}
  {{- with .Values.customAnnotations }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    {{ toYaml . | nindent 4 }}
    {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: datree-wait-server-ready-hook-post-install
  labels: {{include "datree.labels" . | nindent 4}}
  namespace: {{template "datree.namespace" .}}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
