apiVersion: batch/v1
kind: Job
metadata:
  name: datree-wait-server-ready-hook-post-install
  namespace: {{template "datree.namespace" .}}
  labels: {{ include "datree.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install, post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded, hook-failed
    {{- with .Values.customAnnotations }}
    {{ toYaml . }}
    {{- end }}
spec:
  ttlSecondsAfterFinished: {{.Values.hooks.ttlSecondsAfterFinished | default "1" }}
  template:
    metadata:
      name: datree-wait-server-ready-hook-post-install
      labels: {{ include "datree.labels" . | nindent 8 }}
      {{- with .Values.customAnnotations }}
      annotations: {{ toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: datree-wait-server-ready-hook-post-install
      restartPolicy: Never
      containers:
      - name: kubectl-client
        image: "{{ .Values.hooks.image.repository }}:{{ .Values.hooks.image.tag }}"
        imagePullPolicy: {{.Values.hooks.image.pullPolicy}}
        securityContext: {{- toYaml .Values.securityContext | nindent 12 }}        
        command:
          - sh
          - "-c"
          - >-
            kubectl wait --for=condition=ready pod -l app=datree-webhook-server --timeout="{{ default "180s" .Values.hooks.timeoutTime }}"
