{{- $ca := genCA "/CN=Admission Controller Webhook Demo CA" 1827 -}}
{{- $svcHost := printf "datree-webhook-server.%s.svc" ( include "datree.namespace" . ) -}}
{{- $altNames := list ( $svcHost ) -}}
{{- $cert := genSignedCert (printf "/CN=%s" $svcHost) nil $altNames 1827 $ca -}}
apiVersion: v1
kind: Secret
metadata:
  name: datree-ca-tls
  labels: {{ include "datree.labels" . | nindent 4 }}
  namespace: {{ template "datree.namespace" . }}
  {{- with .Values.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
type: kubernetes.io/tls
data:
  tls.key: {{ $ca.Key | b64enc }}
  tls.crt: {{ $ca.Cert | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-server-tls
  labels: {{ include "datree.labels" . | nindent 4 }}
  namespace: {{ template "datree.namespace" . }}
  annotations:
    self-signed-cert: "true"
    {{- with .Values.customAnnotations }}
    {{ toYaml . }}
    {{- end }}
type: kubernetes.io/tls
data:
  tls.key: {{ $cert.Key | b64enc }}
  tls.crt: {{ $cert.Cert | b64enc }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: datree-webhook
  labels: {{ include "datree.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    "helm.sh/hook": post-install, post-upgrade
    "helm.sh/hook-weight": "-5"
    {{- with .Values.customAnnotations }}
    {{ toYaml . }}
    {{- end }}
webhooks:
  - name: {{ $svcHost }}
    sideEffects: None
    timeoutSeconds: 30
    failurePolicy: {{ .Values.validatingWebhookConfiguration.failurePolicy }}
    admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: datree-webhook-server
        namespace: {{ template "datree.namespace" . }}
        path: "/validate"
      caBundle: {{ $ca.Cert | b64enc }}
    namespaceSelector:
      matchExpressions:
        - key: admission.datree/validate
          operator: DoesNotExist
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["*"]
