name: Helm Docs Validation
on:
  pull_request:
    branches:
      - main

jobs:
  helm_docs_validation:
    runs-on: ubuntu-latest
    container:
      image: jnorwood/helm-docs:v1.11.0
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Install helm-docs
        run: |
          curl -LO https://github.com/norwoodj/helm-docs/releases/download/v1.5.0/helm-docs_1.5.0_linux_amd64.tar.gz
          tar -xvf helm-docs_1.5.0_linux_amd64.tar.gz
          sudo mv helm-docs /usr/local/bin/

      - name: Generate Helm Docs
        run: make generate-helm-docs

      - name: Check for file changes
        run: |
          if [ -n "$(git diff)" ]; then
            echo "::error::helm-docs-validation failed, did you forget to run 'make generate-helm-docs'?"
            exit 1
          fi
